workflows/Notificacao_Zouti.json
{
  "updatedAt": "2026-05-01T03:38:45.079Z",
  "createdAt": "2026-04-07T20:13:50.567Z",
  "id": "1yajr8T4z805Zy74",
  "name": "Notificação_Zouti",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aline_zouti",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        880,
        -576
      ],
      "id": "4b6f6137-d0d5-47d8-80f7-2ed6eff3d009",
      "name": "Webhook",
      "webhookId": "404831a6-fb41-46cd-8399-610cd5c97b46"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-teleconsulta",
                    "leftValue": "prod_weijprth1gdzdrxa1t2bpe",
                    "rightValue": "={{ $json.body.items[0].product_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-plano-mensal",
                    "leftValue": "prod_offer_47fam2f02cm5b191knsb8a",
                    "rightValue": "={{ $json.body.product_offer_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-plano-anual",
                    "leftValue": "prod_offer_2hrld57gg1t3jcjapk53h8",
                    "rightValue": "={{ $json.body.product_offer_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-renewed",
                    "leftValue": "={{ $json.headers['x-zouti-event-type'] }}",
                    "rightValue": "SUBSCRIPTION_RENEWED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-canceled",
                    "leftValue": "={{ $json.headers['x-zouti-event-type'] }}",
                    "rightValue": "SUBSCRIPTION_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1088,
        -608
      ],
      "id": "bc83571d-4dc2-4108-922c-cd9c641882c7",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-paid",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "PAID",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1360,
        -848
      ],
      "id": "f31ea606-7a1f-4692-84ed-19c236fddb73",
      "name": "Filter_Status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-unique-id",
              "name": "unique_id",
              "value": "={{ $json.body.utm_data.utm_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -848
      ],
      "id": "15240f99-667a-417d-9b0d-80e3b822b572",
      "name": "Set_UniqueID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, custom_attributes, email, account, inbox, conversation, contact FROM users WHERE user_id = '{{ $json.unique_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        -848
      ],
      "id": "7b3a3b3d-45f0-444b-be6f-40ebd39ee184",
      "name": "Get_User",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.item.json;\nconst attrs = user.custom_attributes;\n\nreturn {\n  json: {\n    unique_id: user.user_id,\n    account_id: user.account,\n    inbox_id: user.inbox,\n    conversation_id: user.conversation,\n    contact_id: user.contact,\n    guardian_name: attrs.guardian_name || '',\n    guardian_email: user.email || attrs.email || '',\n    appointment_child: attrs.appointment_child || '',\n    appointment_date: attrs.appointment_date || '',\n    appointment_end: attrs.appointment_end || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -848
      ],
      "id": "caa65d36-8971-4e65-a5d5-39c5c5c72cad",
      "name": "Extract_Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "53DQAjgB3PVYf595",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "criar_evento_confirmado",
            "unique_id": "={{ $json.unique_id }}",
            "guardian_name": "={{ $json.guardian_name }}",
            "child_name": "={{ $json.appointment_child }}",
            "guardian_email": "={{ $json.guardian_email }}",
            "appointment_date": "={{ $json.appointment_date }}",
            "appointment_end": "={{ $json.appointment_end }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "guardian_name",
              "displayName": "guardian_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "child_name",
              "displayName": "child_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "guardian_email",
              "displayName": "guardian_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "appointment_date",
              "displayName": "appointment_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "appointment_end",
              "displayName": "appointment_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2208,
        -848
      ],
      "id": "e50372b6-42c1-49a8-8c0c-808c948e63f6",
      "name": "Criar_Evento_Calendar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET custom_attributes = custom_attributes || jsonb_build_object(\n  'consulta_confirmada', true,\n  'consulta_data', '{{ $('Extract_Data').item.json.appointment_date }}',\n  'consulta_crianca', '{{ $('Extract_Data').item.json.appointment_child }}'\n),\nupdated_at = NOW()\nWHERE user_id = '{{ $('Extract_Data').item.json.unique_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        -848
      ],
      "id": "b72bc9ef-cd44-486b-b57d-93d0bb291659",
      "name": "Update_User",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Criar_Evento_Calendar').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -848
      ],
      "id": "4087faaa-a900-4c50-a066-27698ad93bc7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data').item.json.account_id }}/conversations/{{ $('Extract_Data').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "sNTEed3CPvwoZv88w6e5M7Ly"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Pagamento confirmado! ✅\n\nA teleconsulta de *{{ $('Extract_Data').item.json.appointment_child }}* está agendada para *{{ DateTime.fromISO($('Extract_Data').item.json.appointment_date).setZone('America/Recife').setLocale('pt-BR').toFormat('cccc, dd/MM/yyyy \\'às\\' HH:mm') }}* com a Dra. Aline Rodrigues.\n\nO convite com o link do Google Meet foi enviado para *{{ $('Extract_Data').item.json.guardian_email }}*.\n\nLINK DA TELECONSULTA: {{ $json.details.meet_link }}\n\nQualquer dúvida até lá, pode me chamar aqui. 😊"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        -848
      ],
      "id": "1860e909-8a93-4df6-9377-ddc9e11a7bba",
      "name": "Enviar_Confirmacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data').item.json.account_id }}/conversations/{{ $('Extract_Data').item.json.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "PArdJisYhtUCfEo9ZurbzxQ9"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ [\"consulta_agendada\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        -848
      ],
      "id": "c5fd4f97-904f-47d0-b282-98cac8f11395",
      "name": "Add_Label_Agendada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-paid-plano",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "PAID",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1360,
        -272
      ],
      "id": "8e5190ad-88ef-47f0-9cda-47b00395543d",
      "name": "Filter_Status_Plano"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-unique-id-plano",
              "name": "unique_id",
              "value": "={{ $json.body.utm_data.utm_content }}",
              "type": "string"
            },
            {
              "id": "set-plan-offer-id",
              "name": "plan_offer_id",
              "value": "={{ $json.body.product_offer_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -272
      ],
      "id": "cc1dcc24-b201-4885-af6d-08169dc14d82",
      "name": "Set_UniqueID_Plano"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, usage, actual_stage, account, inbox, conversation, contact FROM users WHERE user_id = '{{ $json.unique_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        -272
      ],
      "id": "e6d852d3-38c2-4876-8697-937577b21259",
      "name": "Get_User_Plano",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.item.json;\n\nreturn {\n  json: {\n    unique_id: user.user_id,\n    account_id: user.account,\n    inbox_id: user.inbox,\n    conversation_id: user.conversation,\n    contact_id: user.contact,\n    plan_offer_id: $('Set_UniqueID_Plano').item.json.plan_offer_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -272
      ],
      "id": "e2d21e6b-6bd4-47aa-8bf8-5d800d59dbe7",
      "name": "Extract_Data_Plano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-mensal",
              "leftValue": "={{ $json.plan_offer_id }}",
              "rightValue": "prod_offer_47fam2f02cm5b191knsb8a",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2288,
        -272
      ],
      "id": "f53cf204-5500-4063-8025-bcf48274653d",
      "name": "IF_Tipo_Plano"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'usage_limit', 1000,\n    'plan_start', NOW()::text,\n    'plan_expires', (NOW() + INTERVAL '30 days')::text,\n    'pre_subscription_stage', NULL\n  ),\n  actual_stage = COALESCE((usage->>'pre_subscription_stage')::int, 1),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.unique_id }}'\nRETURNING user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        -384
      ],
      "id": "18985809-c4fc-4fe2-a03c-826669f80cfb",
      "name": "Activate_Mensal",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'usage_limit', 1000,\n    'plan_start', NOW()::text,\n    'plan_expires', (NOW() + INTERVAL '365 days')::text,\n    'pre_subscription_stage', NULL\n  ),\n  actual_stage = COALESCE((usage->>'pre_subscription_stage')::int, 1),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.unique_id }}'\nRETURNING user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        -144
      ],
      "id": "8afd1bb8-005a-4d16-9d50-323995590a3d",
      "name": "Activate_Anual",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data_Plano').item.json.account_id }}/conversations/{{ $('Extract_Data_Plano').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "sNTEed3CPvwoZv88w6e5M7Ly"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Tudo certo! ✅\n\nSeu plano *Premium Mensal* está ativo agora.\n\nA partir deste momento você tem acesso ilimitado à Aline Cuida — sem limite de mensagens.\n\nPode continuar a conversa normalmente! 😊"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        -384
      ],
      "id": "656a5622-7ca9-4505-9670-25d12fa7b8df",
      "name": "Enviar_Confirmacao_Mensal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data_Plano').item.json.account_id }}/conversations/{{ $('Extract_Data_Plano').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "sNTEed3CPvwoZv88w6e5M7Ly"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Tudo certo! ✅\n\nSeu plano *Premium Anual* está ativo agora.\n\nA partir deste momento você tem acesso ilimitado à Aline Cuida — sem limite de mensagens pelo próximo ano.\n\nPode continuar a conversa normalmente! 😊"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        -144
      ],
      "id": "131a3b5f-0aff-46e0-a473-86d0da533249",
      "name": "Enviar_Confirmacao_Anual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-unique-id-renewal",
              "name": "unique_id",
              "value": "={{ $json.body.utm_data.utm_content }}",
              "type": "string"
            },
            {
              "id": "set-plan-interval",
              "name": "plan_interval",
              "value": "={{ $json.body.plan.interval }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        144
      ],
      "id": "30edb3c6-fcd9-4d46-8c38-e63a1029cc26",
      "name": "Set_UniqueID_Renewal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, account, inbox, conversation FROM users WHERE user_id = '{{ $json.unique_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        144
      ],
      "id": "6b9c35cf-ca10-46ce-a100-bc1b760cfd9a",
      "name": "Get_User_Renewal",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'plan_expires', CASE\n      WHEN '{{ $('Set_UniqueID_Renewal').item.json.plan_interval }}' = 'YEARLY'\n      THEN (NOW() + INTERVAL '365 days')::text\n      ELSE (NOW() + INTERVAL '30 days')::text\n    END\n  ),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.user_id }}'\nRETURNING user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        144
      ],
      "id": "f589abc6-1044-4122-bc88-09c8bf02a067",
      "name": "Update_Renewal",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-unique-id-cancel",
              "name": "unique_id",
              "value": "={{ $json.body.utm_data.utm_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        448
      ],
      "id": "c4c9001d-783d-462c-8b84-8c3d8c44bc61",
      "name": "Set_UniqueID_Cancel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, account, inbox, conversation FROM users WHERE user_id = '{{ $json.unique_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        448
      ],
      "id": "9c796ca8-d971-420c-9586-c9b014cbf749",
      "name": "Get_User_Cancel",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'usage_limit', 50,\n    'plan_expires', NOW()::text\n  ),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.user_id }}'\nRETURNING user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        448
      ],
      "id": "00c08201-79dc-43d4-968e-e52cbf38fea4",
      "name": "Update_Cancel",
      "credentials": {
        "postgres": {
          "id": "790FBxHNdmZy5F1J",
          "name": "SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Get_User_Cancel').item.json.account }}/conversations/{{ $('Get_User_Cancel').item.json.conversation }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "sNTEed3CPvwoZv88w6e5M7Ly"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Sua assinatura Premium foi cancelada.\n\nVocê voltou ao plano gratuito, com limite de 50 mensagens por mês.\n\nSe quiser reativar o Premium a qualquer momento, é só me chamar! 😊"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        448
      ],
      "id": "d4f45349-eeab-41e9-9a45-d88067cf9b4c",
      "name": "Enviar_Cancelamento"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter_Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter_Status_Plano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter_Status_Plano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_UniqueID_Renewal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_UniqueID_Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Status": {
      "main": [
        [
          {
            "node": "Set_UniqueID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_UniqueID": {
      "main": [
        [
          {
            "node": "Get_User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User": {
      "main": [
        [
          {
            "node": "Extract_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Data": {
      "main": [
        [
          {
            "node": "Criar_Evento_Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Evento_Calendar": {
      "main": [
        [
          {
            "node": "Update_User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_User": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar_Confirmacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Confirmacao": {
      "main": [
        [
          {
            "node": "Add_Label_Agendada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Status_Plano": {
      "main": [
        [
          {
            "node": "Set_UniqueID_Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_UniqueID_Plano": {
      "main": [
        [
          {
            "node": "Get_User_Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_Plano": {
      "main": [
        [
          {
            "node": "Extract_Data_Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Data_Plano": {
      "main": [
        [
          {
            "node": "IF_Tipo_Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Tipo_Plano": {
      "main": [
        [
          {
            "node": "Activate_Mensal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activate_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate_Mensal": {
      "main": [
        [
          {
            "node": "Enviar_Confirmacao_Mensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate_Anual": {
      "main": [
        [
          {
            "node": "Enviar_Confirmacao_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_UniqueID_Renewal": {
      "main": [
        [
          {
            "node": "Get_User_Renewal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_Renewal": {
      "main": [
        [
          {
            "node": "Update_Renewal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_UniqueID_Cancel": {
      "main": [
        [
          {
            "node": "Get_User_Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_Cancel": {
      "main": [
        [
          {
            "node": "Update_Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Cancel": {
      "main": [
        [
          {
            "node": "Enviar_Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "AhWOqXQLPIrVUblP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b80385f5-a653-48fd-9533-3af01994a24f",
  "activeVersionId": "b80385f5-a653-48fd-9533-3af01994a24f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-08T02:36:14.684Z",
      "createdAt": "2026-04-08T02:36:14.684Z",
      "role": "workflow:owner",
      "workflowId": "1yajr8T4z805Zy74",
      "projectId": "Mv9lop2PjQQMoe46"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-01T03:38:46.384Z",
    "createdAt": "2026-05-01T03:38:45.081Z",
    "versionId": "b80385f5-a653-48fd-9533-3af01994a24f",
    "workflowId": "1yajr8T4z805Zy74",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "aline_zouti",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          880,
          -576
        ],
        "id": "4b6f6137-d0d5-47d8-80f7-2ed6eff3d009",
        "name": "Webhook",
        "webhookId": "404831a6-fb41-46cd-8399-610cd5c97b46"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "check-teleconsulta",
                      "leftValue": "prod_weijprth1gdzdrxa1t2bpe",
                      "rightValue": "={{ $json.body.items[0].product_id }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "check-plano-mensal",
                      "leftValue": "prod_offer_47fam2f02cm5b191knsb8a",
                      "rightValue": "={{ $json.body.product_offer_id }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "check-plano-anual",
                      "leftValue": "prod_offer_2hrld57gg1t3jcjapk53h8",
                      "rightValue": "={{ $json.body.product_offer_id }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "check-renewed",
                      "leftValue": "={{ $json.headers['x-zouti-event-type'] }}",
                      "rightValue": "SUBSCRIPTION_RENEWED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "check-canceled",
                      "leftValue": "={{ $json.headers['x-zouti-event-type'] }}",
                      "rightValue": "SUBSCRIPTION_CANCELED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1088,
          -608
        ],
        "id": "bc83571d-4dc2-4108-922c-cd9c641882c7",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-paid",
                "leftValue": "={{ $json.body.status }}",
                "rightValue": "PAID",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1360,
          -848
        ],
        "id": "f31ea606-7a1f-4692-84ed-19c236fddb73",
        "name": "Filter_Status"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set-unique-id",
                "name": "unique_id",
                "value": "={{ $json.body.utm_data.utm_content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          -848
        ],
        "id": "15240f99-667a-417d-9b0d-80e3b822b572",
        "name": "Set_UniqueID"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT user_id, custom_attributes, email, account, inbox, conversation, contact FROM users WHERE user_id = '{{ $json.unique_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          -848
        ],
        "id": "7b3a3b3d-45f0-444b-be6f-40ebd39ee184",
        "name": "Get_User",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const user = $input.item.json;\nconst attrs = user.custom_attributes;\n\nreturn {\n  json: {\n    unique_id: user.user_id,\n    account_id: user.account,\n    inbox_id: user.inbox,\n    conversation_id: user.conversation,\n    contact_id: user.contact,\n    guardian_name: attrs.guardian_name || '',\n    guardian_email: user.email || attrs.email || '',\n    appointment_child: attrs.appointment_child || '',\n    appointment_date: attrs.appointment_date || '',\n    appointment_end: attrs.appointment_end || ''\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          -848
        ],
        "id": "caa65d36-8971-4e65-a5d5-39c5c5c72cad",
        "name": "Extract_Data"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "53DQAjgB3PVYf595",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "request": "criar_evento_confirmado",
              "unique_id": "={{ $json.unique_id }}",
              "guardian_name": "={{ $json.guardian_name }}",
              "child_name": "={{ $json.appointment_child }}",
              "guardian_email": "={{ $json.guardian_email }}",
              "appointment_date": "={{ $json.appointment_date }}",
              "appointment_end": "={{ $json.appointment_end }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "request",
                "displayName": "request",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "unique_id",
                "displayName": "unique_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "guardian_name",
                "displayName": "guardian_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "child_name",
                "displayName": "child_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "guardian_email",
                "displayName": "guardian_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "appointment_date",
                "displayName": "appointment_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "appointment_end",
                "displayName": "appointment_end",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2208,
          -848
        ],
        "id": "e50372b6-42c1-49a8-8c0c-808c948e63f6",
        "name": "Criar_Evento_Calendar"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users\nSET custom_attributes = custom_attributes || jsonb_build_object(\n  'consulta_confirmada', true,\n  'consulta_data', '{{ $('Extract_Data').item.json.appointment_date }}',\n  'consulta_crianca', '{{ $('Extract_Data').item.json.appointment_child }}'\n),\nupdated_at = NOW()\nWHERE user_id = '{{ $('Extract_Data').item.json.unique_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2432,
          -848
        ],
        "id": "b72bc9ef-cd44-486b-b57d-93d0bb291659",
        "name": "Update_User",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $('Criar_Evento_Calendar').item.json.output }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2640,
          -848
        ],
        "id": "4087faaa-a900-4c50-a066-27698ad93bc7",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data').item.json.account_id }}/conversations/{{ $('Extract_Data').item.json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "sNTEed3CPvwoZv88w6e5M7Ly"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "=Pagamento confirmado! ✅\n\nA teleconsulta de *{{ $('Extract_Data').item.json.appointment_child }}* está agendada para *{{ DateTime.fromISO($('Extract_Data').item.json.appointment_date).setZone('America/Recife').setLocale('pt-BR').toFormat('cccc, dd/MM/yyyy \\'às\\' HH:mm') }}* com a Dra. Aline Rodrigues.\n\nO convite com o link do Google Meet foi enviado para *{{ $('Extract_Data').item.json.guardian_email }}*.\n\nLINK DA TELECONSULTA: {{ $json.details.meet_link }}\n\nQualquer dúvida até lá, pode me chamar aqui. 😊"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2864,
          -848
        ],
        "id": "1860e909-8a93-4df6-9377-ddc9e11a7bba",
        "name": "Enviar_Confirmacao"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data').item.json.account_id }}/conversations/{{ $('Extract_Data').item.json.conversation_id }}/labels",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "PArdJisYhtUCfEo9ZurbzxQ9"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "labels",
                "value": "={{ [\"consulta_agendada\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3072,
          -848
        ],
        "id": "c5fd4f97-904f-47d0-b282-98cac8f11395",
        "name": "Add_Label_Agendada"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-paid-plano",
                "leftValue": "={{ $json.body.status }}",
                "rightValue": "PAID",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1360,
          -272
        ],
        "id": "8e5190ad-88ef-47f0-9cda-47b00395543d",
        "name": "Filter_Status_Plano"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set-unique-id-plano",
                "name": "unique_id",
                "value": "={{ $json.body.utm_data.utm_content }}",
                "type": "string"
              },
              {
                "id": "set-plan-offer-id",
                "name": "plan_offer_id",
                "value": "={{ $json.body.product_offer_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          -272
        ],
        "id": "cc1dcc24-b201-4885-af6d-08169dc14d82",
        "name": "Set_UniqueID_Plano"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT user_id, usage, actual_stage, account, inbox, conversation, contact FROM users WHERE user_id = '{{ $json.unique_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          -272
        ],
        "id": "e6d852d3-38c2-4876-8697-937577b21259",
        "name": "Get_User_Plano",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const user = $input.item.json;\n\nreturn {\n  json: {\n    unique_id: user.user_id,\n    account_id: user.account,\n    inbox_id: user.inbox,\n    conversation_id: user.conversation,\n    contact_id: user.contact,\n    plan_offer_id: $('Set_UniqueID_Plano').item.json.plan_offer_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          -272
        ],
        "id": "e2d21e6b-6bd4-47aa-8bf8-5d800d59dbe7",
        "name": "Extract_Data_Plano"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-mensal",
                "leftValue": "={{ $json.plan_offer_id }}",
                "rightValue": "prod_offer_47fam2f02cm5b191knsb8a",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2288,
          -272
        ],
        "id": "f53cf204-5500-4063-8025-bcf48274653d",
        "name": "IF_Tipo_Plano"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'usage_limit', 1000,\n    'plan_start', NOW()::text,\n    'plan_expires', (NOW() + INTERVAL '30 days')::text,\n    'pre_subscription_stage', NULL\n  ),\n  actual_stage = COALESCE((usage->>'pre_subscription_stage')::int, 1),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.unique_id }}'\nRETURNING user_id",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2528,
          -384
        ],
        "id": "18985809-c4fc-4fe2-a03c-826669f80cfb",
        "name": "Activate_Mensal",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'usage_limit', 1000,\n    'plan_start', NOW()::text,\n    'plan_expires', (NOW() + INTERVAL '365 days')::text,\n    'pre_subscription_stage', NULL\n  ),\n  actual_stage = COALESCE((usage->>'pre_subscription_stage')::int, 1),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.unique_id }}'\nRETURNING user_id",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2528,
          -144
        ],
        "id": "8afd1bb8-005a-4d16-9d50-323995590a3d",
        "name": "Activate_Anual",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data_Plano').item.json.account_id }}/conversations/{{ $('Extract_Data_Plano').item.json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "sNTEed3CPvwoZv88w6e5M7Ly"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "Tudo certo! ✅\n\nSeu plano *Premium Mensal* está ativo agora.\n\nA partir deste momento você tem acesso ilimitado à Aline Cuida — sem limite de mensagens.\n\nPode continuar a conversa normalmente! 😊"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2768,
          -384
        ],
        "id": "656a5622-7ca9-4505-9670-25d12fa7b8df",
        "name": "Enviar_Confirmacao_Mensal"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Extract_Data_Plano').item.json.account_id }}/conversations/{{ $('Extract_Data_Plano').item.json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "sNTEed3CPvwoZv88w6e5M7Ly"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "Tudo certo! ✅\n\nSeu plano *Premium Anual* está ativo agora.\n\nA partir deste momento você tem acesso ilimitado à Aline Cuida — sem limite de mensagens pelo próximo ano.\n\nPode continuar a conversa normalmente! 😊"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2768,
          -144
        ],
        "id": "131a3b5f-0aff-46e0-a473-86d0da533249",
        "name": "Enviar_Confirmacao_Anual"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set-unique-id-renewal",
                "name": "unique_id",
                "value": "={{ $json.body.utm_data.utm_content }}",
                "type": "string"
              },
              {
                "id": "set-plan-interval",
                "name": "plan_interval",
                "value": "={{ $json.body.plan.interval }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          144
        ],
        "id": "30edb3c6-fcd9-4d46-8c38-e63a1029cc26",
        "name": "Set_UniqueID_Renewal"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT user_id, account, inbox, conversation FROM users WHERE user_id = '{{ $json.unique_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1584,
          144
        ],
        "id": "6b9c35cf-ca10-46ce-a100-bc1b760cfd9a",
        "name": "Get_User_Renewal",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'monthly_usage', 0,\n    'plan_expires', CASE\n      WHEN '{{ $('Set_UniqueID_Renewal').item.json.plan_interval }}' = 'YEARLY'\n      THEN (NOW() + INTERVAL '365 days')::text\n      ELSE (NOW() + INTERVAL '30 days')::text\n    END\n  ),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.user_id }}'\nRETURNING user_id",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          144
        ],
        "id": "f589abc6-1044-4122-bc88-09c8bf02a067",
        "name": "Update_Renewal",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set-unique-id-cancel",
                "name": "unique_id",
                "value": "={{ $json.body.utm_data.utm_content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          448
        ],
        "id": "c4c9001d-783d-462c-8b84-8c3d8c44bc61",
        "name": "Set_UniqueID_Cancel"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT user_id, account, inbox, conversation FROM users WHERE user_id = '{{ $json.unique_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1584,
          448
        ],
        "id": "9c796ca8-d971-420c-9586-c9b014cbf749",
        "name": "Get_User_Cancel",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users\nSET\n  usage = usage || jsonb_build_object(\n    'usage_limit', 50,\n    'plan_expires', NOW()::text\n  ),\n  updated_at = NOW()\nWHERE user_id = '{{ $json.user_id }}'\nRETURNING user_id",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          448
        ],
        "id": "00c08201-79dc-43d4-968e-e52cbf38fea4",
        "name": "Update_Cancel",
        "credentials": {
          "postgres": {
            "id": "790FBxHNdmZy5F1J",
            "name": "SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.cria.chat/api/v1/accounts/{{ $('Get_User_Cancel').item.json.account }}/conversations/{{ $('Get_User_Cancel').item.json.conversation }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "sNTEed3CPvwoZv88w6e5M7Ly"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "Sua assinatura Premium foi cancelada.\n\nVocê voltou ao plano gratuito, com limite de 50 mensagens por mês.\n\nSe quiser reativar o Premium a qualquer momento, é só me chamar! 😊"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          448
        ],
        "id": "d4f45349-eeab-41e9-9a45-d88067cf9b4c",
        "name": "Enviar_Cancelamento"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Filter_Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Filter_Status_Plano",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Filter_Status_Plano",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set_UniqueID_Renewal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set_UniqueID_Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_Status": {
        "main": [
          [
            {
              "node": "Set_UniqueID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_UniqueID": {
        "main": [
          [
            {
              "node": "Get_User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_User": {
        "main": [
          [
            {
              "node": "Extract_Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract_Data": {
        "main": [
          [
            {
              "node": "Criar_Evento_Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar_Evento_Calendar": {
        "main": [
          [
            {
              "node": "Update_User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update_User": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Enviar_Confirmacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_Confirmacao": {
        "main": [
          [
            {
              "node": "Add_Label_Agendada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_Status_Plano": {
        "main": [
          [
            {
              "node": "Set_UniqueID_Plano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_UniqueID_Plano": {
        "main": [
          [
            {
              "node": "Get_User_Plano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_User_Plano": {
        "main": [
          [
            {
              "node": "Extract_Data_Plano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract_Data_Plano": {
        "main": [
          [
            {
              "node": "IF_Tipo_Plano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_Tipo_Plano": {
        "main": [
          [
            {
              "node": "Activate_Mensal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Activate_Anual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Activate_Mensal": {
        "main": [
          [
            {
              "node": "Enviar_Confirmacao_Mensal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Activate_Anual": {
        "main": [
          [
            {
              "node": "Enviar_Confirmacao_Anual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_UniqueID_Renewal": {
        "main": [
          [
            {
              "node": "Get_User_Renewal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_User_Renewal": {
        "main": [
          [
            {
              "node": "Update_Renewal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_UniqueID_Cancel": {
        "main": [
          [
            {
              "node": "Get_User_Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_User_Cancel": {
        "main": [
          [
            {
              "node": "Update_Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update_Cancel": {
        "main": [
          [
            {
              "node": "Enviar_Cancelamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "AI SIM",
    "name": "Version b80385f5",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-28T22:52:43.009Z",
      "createdAt": "2026-04-28T22:52:43.009Z",
      "id": "X7ATJXtT6GVgcMba",
      "name": "Backup"
    }
  ]
}